body {
	background: url(images/xuliyvibyic-jonas-vincent.jpg);
	background-size: cover; /* Makes the image small possible to cover width and height*/
	background-position: center; /* centers the image*/
	font-family: Lato, Georgia, Sans-Serif;
	color: white;
}

html {
	height: 100%; /* gives the html the full-size of the window */
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	font-size: 5em;
	font-weight: 700;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
